@use 'variables' as v;

.block__item {
    width: 50%;
    text-align: center;
}

.block-item__title {
    font-weight: normal;
    font-size: 1.15rem;
    color: #fff;
    margin-bottom: 10px;
}

.block-item__btn {
    letter-spacing: 0.3px;
    @include v.family($font-size: 14px, $font-weight: 600);

    color: v.$light-black;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    border: none;

    transition: 0.3s;
    box-shadow: v.$shadow-low;
}

.block-item__btn:hover {
    background-color: v.$light-grey;
}

.register-btn:hover {
    color: v.$light-blue;
}

.signin-btn:hover {
    color: v.$green;
}