@use '../../../variables' as v;

.center-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: v.$light-blue;
    overflow: hidden;

    transition: 0.85s;
}

.center-layout.active {
    background-color: v.$green;
}