body {
    margin: 0;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #328de2;
    overflow: hidden;

    transition: 0.85s;
}

body.active {
    background-color: rgb(86, 205, 127);
}

.hidden {
    display: none;
}